$primary: #dc6900;
$primary-dark: #b05400;
$secondary: #ecac70;
$gray-1: #e7e7e7;
$gray-2: #bfbab6;
$gray-3: #494846;
$white: #ffffff;
$destructive: #da1609;
$destructive-dark: #ae1107;

$break-small: 480px;
$break-large: 1024px;

$text-color: #333333;
$dark-text-color: $gray-3;
$light-text-color: $white;
// $background-grey: #f2f2f2;

// font sizes
$normal: 1em;
$small: 0.875em;
$smaller: 0.75em;
$large: 1.125em;
$larger: 1.25em;

$border-color: #b2b2b2;
$border-grey-light: #eeeeee;
$gray: #697178;

$bg-grey: #ebebeb;
$text-color-grey: #454545;
$button-border-color: #697178;
$input-border-color: #dddddd;
$error-color: $destructive;

input[type= color] {
    cursor: pointer;
    width: 1.2rem;
    height: 1rem;
}
